@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">
        This app allows you to explore, add, edit, and delete scenic viewpoints, walking trails, and parks. 
        Everything is displayed on an interactive map, so you can discover new places, plan your walks, and help make the map even more complete.
        Start exploring and share your favorite spots now!
    </p>
</div>
